@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* Custom Properties */

:root {
    --leading: 2em;
}

.breaker{
	text-align: center;
	margin: 1.6em;
	font-weight: bold;
}

.logo{
	margin-top: -40px;
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.hero-bg {
    background: #f1f1f1 url('../images/bgIndex2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
    padding-bottom: 10em;
    
}

header {
    padding: 1em 0;
    width: 20%;
}

.hero-bg a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

section {
    margin: 0 1em;
}

h1 {
    font-size: 2.5rem;
    margin: 2em 0 1.2em;
}

h1 span {
    text-transform: uppercase;
    display: block;
    font-size: 1.4rem;
    position: relative;
    z-index: 1;
}

h1 span::before {
    content: ' ';
    position: absolute;
    width: 3em;
    background: #00BFFF;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;
}

.hero-bg p {
    font-weight: bold;
    margin: 0 1em 3em;
}

.form-container {
    background-color: white;
    margin: 2em -1em 0;
    padding: 2em;
}

label {
    color: #2D7D98;
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
    font-size: 1.2em;
}

input[type=text] {
    border: 1px solid #707070;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: .5em;
    margin-top: 1.2em;
}



.form-container p {
    color: gray;
    margin-bottom: 1.5em;
    font-weight: normal;
    font-size: .9em;
    margin-top: .3em;
}

input[type=submit] {
    background-color: #F89104;
    border: none;
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 1em 0;
    border-radius: .5em;
    font-size: 1.3em;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(216, 126, 1);
}

.authentic {
    margin: 3em;
}

.right-col {
    text-align: center;
    margin: 3em 1em;
}

h2 {
    text-transform: uppercase;
    position: relative;
}

h2::before {
    content: ' ';
    position: absolute;
    width: 8em;
    background: #00BFFF;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;
}

img {
    width: 100%;
}

p {
    line-height: var(--leading);
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.9);
    z-index: 1;
    place-content: center;
    color: white;
    display: none;
    opacity: 0;
}

.animate-overlay {
    animation: overlay 3s forwards;
}

@media (min-width: 730px) {

    section {
        margin: 0 4em;
    }
    .form-container {
        margin: 2em -4em 0;
    }

}

@media (max-width: 1300px){
	.form-containertop {
	 background-color: white;
	  background: rgba(255, 255, 255, 0.3)
    margin: 2em -1em 0;
    padding: 0.5em;
    color: black;
    margin-bottom: 1.5em;
    font-weight: normal;
    font-size: .9em;
    margin-top: .3em;
     border-radius: .5em;
}
}

@media (min-width: 930px) {

	

    .hero-bg {
        text-align: center;
    }

    .hero-bg p {
        margin: 0 0 3em;
    }

    .hero-bg section {
        width: 75%;
        margin: 0% 15%;
    }
    
    .hero-bg header {
        width: 20%;
    }

    .form-container {
        margin: 2em 0 0;
        padding: 1em;
        border-radius: .5em;
        box-shadow: 10px 10px 10px rgba(0,0,0,.3);
    }

    form {
        display: flex;
    }
    .form-left {
        width: 70%;
    }
    label {
        margin: 0;
    }
    input[type="submit"] {
        height: fit-content;
        font-size: 1.1em;
        margin-left: 1em;
        margin-top: 2.2em;
        padding: .7em 0;
        width: 30%;
    }
    .hero-bg p {
        margin-bottom: 0;
    }

    section.authentic {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-areas:
            "apple samsung xiaomi";
    }

    .right-col {
        grid-area: samsung;
        padding: 0 10%;
        text-align: left;
        align-self: center;
    }

    .apple {
        grid-area: apple;
         text-align: center;
    }
    
    .samsung {
   	   grid-area: samsung;
   	   text-align: center;
    }
    
    
    
    .xiaomi{
       grid-area: xiaomi;
        text-align: center;
    }

    h2 {
        margin: 0;
    }
    
    h3 {
        margin: 1em;
    }

}

@media (min-width: 1275px) { 
    .hero-bg section {
        width: 45%;
        margin: 0 27%;
    }
}

.top {
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes overlay {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}